
<h1 mat-dialog-title>{{data.isEdit ? 'Edit' : 'Create'}} Roles</h1>
<div mat-dialog-content>

  <mat-form-field
    *ngIf="canEditColumn('name')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="name"
      [(ngModel)]="data.entity.name"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('description')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="description"
      [(ngModel)]="data.entity.description"
      autocomplete="off">
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <div class="right-aligned">

    <button 
      mat-raised-button
      color="primary"
      (click)="save()">Save</button>

    <button
      mat-button
      (click)="cancel()">Cancel</button>

  </div>

</div>
