
<h1 mat-dialog-title>{{data.isEdit ? 'Edit' : 'Create'}} Item_types</h1>
<div mat-dialog-content>

  <mat-form-field
    *ngIf="canEditColumn('root_resolve_url')"
    class="entity-edit-field-full-width">
    <input
      matInput
      type="text"
      placeholder="root_resolve_url"
      [(ngModel)]="data.entity.root_resolve_url"
      autocomplete="off">
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <div class="right-aligned">

    <button 
      mat-raised-button
      color="primary"
      (click)="save()">Save</button>

    <button
      mat-button
      (click)="cancel()">Cancel</button>

  </div>

</div>
