/*
 * Magic Publishing is MIT licensed, copyright Thomas Hansen - thomas@servergardens.com - Se enclosed LICENSE files for terms of use
 */

.entity-edit-field {
    width: calc(100% - 1rem);
    margin-right: 1rem;
    text-transform: capitalize;
    display: inline-block;
}

.entity-edit-field-full-width {
    width: calc(100% - 1rem);
    margin-right: 1rem;
    text-transform: capitalize;
    display: inline-block;
}

@media screen and (min-width: 800px) {
    .entity-edit-field {
        width: calc(50% - 1rem);
        margin-right: 1rem;
        text-transform: capitalize;
        display: inline-block;
    }
}
