
<h1 mat-dialog-title>{{data.isEdit ? 'Edit' : 'Create'}} Item</h1>
<div mat-dialog-content>

  <mat-form-field
    *ngIf="canEditColumn('title')"
    class="entity-edit-field-full-width">
    <input
      matInput
      type="text"
      placeholder="title"
      [(ngModel)]="data.entity.title"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('url')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      placeholder="URL"
      [(ngModel)]="data.entity.url"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('author')"
    class="entity-edit-field">
    <input
      matInput
      type="text"
      disabled="true"
      placeholder="author"
      [(ngModel)]="data.entity.author"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('template')"
    class="entity-edit-field">
    <mat-select
      placeholder="Select template type"
      [(ngModel)]="data.entity.template"
      matTooltip="The template is the skin or theme for your item">
      <mat-option
        *ngFor="let cur of templates"
        [value]="cur.name">{{cur.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('item_type')"
    class="entity-edit-field">
    <mat-select
      placeholder="Select item type"
      [(ngModel)]="data.entity.item_type"
      matTooltip="This decides what type of item, and what root URL to resolve it using">
      <mat-option
        *ngFor="let cur of types"
        [value]="cur.name">{{cur.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <ngx-codemirror
    *ngIf="shouldShow"
    [(ngModel)]="data.entity.content"
    [options]="{
  lineNumbers: true,
  theme: 'material',
  mode: 'markdown'
}"></ngx-codemirror>

</div>

<div mat-dialog-actions>

  <div class="right-aligned">

    <button 
      mat-raised-button
      color="primary"
      (click)="save()">Save</button>

    <button
      mat-button
      (click)="cancel()">Cancel</button>

  </div>

</div>
