<html>
  <head>
    <base href="/">
    <title>![[title]]!</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
![[
wait.magic.publishing.settings.get:css-file
strings.concat
   .:@"    <link rel=""stylesheet"" href="""
   get-value:x:@wait.magic.publishing.settings.get
   .:@""">"
   .:"\r\n"
slots.return-value:x:-
]]!
  </head>
  <body>
    <div id="wrapper">
      <header id="header">
        <h1>![[title]]!</h1>
      </header>
      <nav id="menu">
        <ul>
![[
wait.signal:wait.magic.publishing.menu.render
slots.return-value:x:-
]]!
        </ul>
      </nav>
      <main id="content">
![[content]]!
      </main>
      <footer id="copyright">
![[
wait.magic.publishing.settings.get:copyright-notice
slots.return-value:x:-
]]!
      </footer>
    </div>
  </body>
</html>
