<html>
  <head>
    <title>![[title]]!</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="css/simple.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1>![[title]]!</h1>
      </div>
      <nav id="menu">
        <ul>
![[
wait.slots.signal:wait.magic.publishing.menu.render
slots.return-value:x:-
]]!
        </ul>
      </nav>
      <div id="content">
        ![[content]]!
      </div>
      <div id="copyright">
![[
wait.magic.publishing.settings.get:copyright-notice
slots.return-value:x:-
]]!
      </div>
    </div>
  </body>
</html>
